* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  text-align: center;
}

table {
  margin: auto;
  border: 1px solid white;
}

.cell {
  width: 40px;
  height: 40px;
  font-size: 24px;
}
.earth {
  background-color: rgb(171, 49, 49);
  color: transparent;
  margin: 0;
}
